html {
  font-size: 18px;
  font-family: Helvetica;
}

body {
  margin: 0;
}

header {
  width: 100%;
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  margin: 0;
  padding-top: 1rem;
}

.header-container {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background-color: cadetBlue;
  color: white;
  align: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding: 0 1rem 0 2rem;
  height: 1.5rem;
  width: auto;
}

nav {
  display: flex;
}

nav p {
  padding: 1rem 2rem;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
  max-width: 960px;
  margin: auto;
}

.headline {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  padding: 0.75rem 5rem;
  margin-top: 10rem;
  display: inline-block;
  margin-right: -2rem;
}

.icon-container {
  display: flex;
  justify-content: center;
}

.icon {
  height: 8rem;
  width: 5rem;
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.icon p {
  padding: 0;
  margin: 0;
}

.icon img {
  width: 5rem;
  margin-bottom: 1rem;
}

#paper-icon img {
  width: 3.5rem;
}

.info-container {
  max-width: 960px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.info {
  max-width: 35%;
}

.info h2 {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
  background-color: cadetBlue;
  color: white;
}

footer {
  max-width: 960px;
  margin: 4rem auto auto auto;
  align: center;
  background-color: azure;
  padding: 4rem 3rem;
  display: flex;
  align-items: center;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-container img {
  height: 1.5rem;
  padding-right: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  header {
    padding-top: 0;
    margin: auto;
    height: 22rem;
  }

  .header-container {
    max-width: 100%;
  }

  .headline {
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}
